body {
    margin: 0;
    
    width: 1530px;
    
    margin: 0 auto;
}

.header {
    display: flex;
    max-width: 1530px;
    height: 120px;
    background: #FAFAFA;
}

.logo {
    margin-left: 90px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 400px;
}

.ul_title {
    margin-top: 50px;
    margin-bottom: 50px;
    list-style: none;
    display: flex;
}

.class_subtitle {
    margin-right: 31px;
    font-family: 'Gilroy', sans-serif;
    font-size: 18px;
}





.btn_header {
    margin-top: 35px;
    margin-bottom: 43px;
    width: 120px;
    height: 34px;
    border: 1px solid #F7941E;
    border-radius: 5px;
    margin-left: 341px;
    color: #F7941E;
    text-decoration: none;
    transition: all 0.5s;
    text-align: center;
    align-items: center;
    padding-top: 14px;
    text-transform: uppercase;
    font-family: 'Gilroy', sans-serif;
}

.btn_header:hover {
    background-color:#F7941E ;
    color: #fff;
}




.header_link {
    text-decoration: none;
    color: #000;
}


@media (max-width:992px){
    
    .btn_header {
        font-size: 24px;
        width: 200px;
        height: 50px;
        margin-left: 250px;
        margin-bottom: 20px;
        margin-top: 20px;
        padding-top: 30px;

    }

    .btn_text {
        margin-top: 0px;
        margin-bottom: 40px;
        margin-right: 50px;
        font-size: 20px;
        font-weight: 900;
        border: 1px solid #F7941E;
        width: 150px;
        height: 44px;
        margin-left: 5px;
        padding-left: 10px;
    }
   

    .class_subtitle {
        margin-right: 36px;
        font-family: 'Gilroy', sans-serif;
        font-size: 36px;
    } 

    .logo {
        margin-right: 300px;
    }

    

    .head_button {
        width: 150px;
        height: 44px;
        margin-left: 200px;
        border: none;
     }

    .btn {
        width: 150px;
        height: 44px;
    }
    .ul_title {
        margin-top: 20px;
    }
}

@media (max-width:767px){ 
 
    .logo {
        width: 100px;
        height: 100px;
        margin-right: 200px;
    }

    .class_subtitle {
        margin-top: 20px;
        margin-right: 70px;
        font-family: 'Gilroy', sans-serif;
        font-size: 36px;
    } 

    .head_button {
        margin-left: 100px;
    }
}

@media (max-width:480px){ 
 

    .btn_header {
        font-size: 36px;
        width: 250px;
        height: 60px;
        margin-left: 150px;
    }

    .logo {
        width: 100px;
        height: 100px;
        margin-right: 150px;
    }

    .class_subtitle {
        margin-top: 20px;
        margin-right: 70px;
        font-family: 'Gilroy', sans-serif;
        font-size: 40px;
    } 

   .btn_text {
    height: 100px;
    width: 200px;
    font-size: 40px;
    margin-top: -30px;
    border: 5px solid;
   }
}

@media (max-width:480px){ 
    .logo {
        margin-right: 20px;
    }

    .head_button {
        margin-left: 0px;
    }

    .class_subtitle {
        margin-right: 60px;
    }
 }